body{
    font-family: 'Roboto', sans-serif;
}

/* style="background-color: #D0FFE6; */

.bg-choice{
    background-color: #e3f2fd;
}
.helen{
    font-family: 'Lobster', cursive;
    font-size: 36px;
    letter-spacing: 2px;
    border-radius: 20px;
    
    /* font-weight: bold; */
    /* color: linear-gradient(rgb(255,20,147),rgb(0,118,153))!important; */
}

@keyframes colorOfText{
    0% {color: #6f0038}
    /* {color:rgb(255,20,147) } */
    20%{color: #b7005c;}
    50%{color: #f3007a;}
    75%{color: rgb(47, 176, 219)}
    100% {color: rgb(0,118,153)}
}

.helen{
    animation-name: colorOfText;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.text-color{
    color: #FFD0E9;
    text-shadow: 0 4px 4px rgba(0,0,0,0.2);
}
 main, #skills{
    /* background-image: linear-gradient(rgba(227,242,253, 0.3),rgba(227,242,253, 0.3)),url(https://res.cloudinary.com/helencee/image/upload/e_saturation:-71,q_66/v1567006134/first%20images/code_background_g1i892.png); */
    height: 78vh;
 }

 
 .skill-h1{
    font-family: 'Lobster', cursive;
    font-family: 'Acme', sans-serif;
    font-size: 50px; 
    margin-top: 5vh;

 }
 #myImg{
     border-radius: 50%;
     /* width: 30vw;
     height: 60vh; */
     max-width: 100%;
     display: block;
     height: auto;
 }

 .girl{
     /* background-image: url("https://res.cloudinary.com/helencee/image/upload/v1574679108/Images_for_my_website/girl-coding_ino6qv.png");
     background-attachment: fixed; */
     display:block;
     height: auto;
     max-width: 100%;

 } 
 .inpt{
     /* width: 30vw; */
 }

  .cont{
    /* height: 100vh!important; */
    /* width: 80vw; */
 } 
 #message{
     height: 14vh;
 }


 /* .shadow{
     box-shadow: 0 4px 4px 4px black;
 } */

 footer{
     /* height: 6.4vh; */
     height: 10%;
     /* padding: 5px; */
     /* background-color: blue !important; */
     width: 100%;
 }

  .last{
     position: fixed;
     bottom:0px!important;
 }

 form{
     /* width: 40vw; */
     padding-left: 3rem;
     box-shadow: 0 4px 4px 4px rgba(0,0,0,0.2);
     
 }


 /* @media screen and (min-width: 1100px){
     footer{
        height: 50vh;
     }
 } */

 @media screen and (max-width: 700px){
     footer{
         /* min-height: 18vh; */
      
     }
 }

 @media screen and (max-width: 400px){
     footer{
         font-size: 14px;
         height: 24vh;
     }
     
 }

 @media screen and (max-width: 300px){
    footer{
        font-size: 14px;
        height: 31vh;
    }

    .soc{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}
